# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Lambda build artifacts
*.zip

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store